/*
    Document   : appIndex
    Created on : 2013-5-7, 18:08:51
    Author     : liangzhongyuan
    Description:
        Purpose of the stylesheet follows.
*/

    .app_ibody{
        padding: 0px 70px;
        color: gray;

        /*先设置为灰色*/
    }
    .app_para{
        padding: 20px 0px;
        font-size: 12px;
		line-height: 22px;
    }
    .horizon_line{
        overflow:hidden;
        height: 1px;
        width: 100%;
        background-color: #c2c4c8;
    }
    .vertical_line{
        height: 10px;
        width: 3px;
        background-color: #ff6633;
        /*颜色未定*/
    }
    .app_ileft{
        width: 625px;
        display: inline-block;
		float: left;
		clear: left;
    }
    .app_iprotitle{
        font-size: 24px;
        color: black;
        margin: 0px 20px;
    }
    .top_bottem_space{
        margin: 15px 0px;
    }
    .app_iprocontent{
        font-size: 18px;
        color: black;
        padding: 15px 0px;
    }
    .app_iprocontent span{
        padding: 0px 17px;
    }

    .app_inotice li{
        font-size: 14px;
        color: gray;
        line-height: 28px;
    }
    .app_iright{
        width: 290px;
        display: inline-block;
        vertical-align: top;
        margin-left: 40px;
		margin-top: 20px;
    }


	ul.app_ireward{
		margin-top:20px;
	}
    .app_ireward li{
        margin-bottom: 38px;

    }
    .app_ireward img{
        display: inline-block;

    }
    .app_ireward p{
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
		/*font-weight: bold;*/

    }
	.app_ireward p span{
		padding-bottom: 15px;
		display: inline-block;
		font-weight: bold;
		font-size: 20px;
	}
	ul.dev_notice li{
		font-size:12px;
	}

