.app_dbody{
	padding: 0px 70px;
	margin: 0 auto;
}
.app_dbody table tr td{
	line-height: 30px;
}
.app_dbody img{
	vertical-align: text-bottom;
	margin-left: 5px;
}
h2.big_title{
	font-size: 22px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.sec_label{
	font-size: 12px;
	color: gray;
	padding-right: 10px;
}
.sec_label2{
	font-size: 14px;
	font-weight: bold;
	color: gray;
	padding-right: 10px;
	padding-left: 23px;
	text-align: right;

}
.app_pleft{
	text-align: right;
}
.app_pright{
	width: 240px;
	text-align: right;

}
.app_star{
	padding: 0 10px;
	font-size: 12px;
	color:red;
}
.app_pinputbox
{
	width: 200px;
	border-radius: 4px;
	border: 1px solid #C8C8C8;
	outline:none;
	height: 22px;
}


/**********参赛说明列表项样式**************/
ul.d_items{
	margin-top: 15px;
	overflow: hidden;
}
ul.d_items li{
	line-height: 30px;
	font-size: 12px;
	color:gray;
}

    .team_name_error{
        font-size: 12px;
        color: red;
    }
    .team_sub{
        text-align: center;
        color:#323232;
    }

    .team_sub1{
        display: inline-block;
        margin: 20px 30px;
        width: 170px;
        height: 35px;
        border-radius: 10px;
        border:5px solid #f2f2f2;
    }
    .team_sub2{
        display: inline-block;
        margin: 20px 30px;
        width: 350px;
        height: 35px;
        border-radius: 10px;
        border:5px solid #f2f2f2;
    }
    .button1{
        position: relative;
        top: -2px;
        left: -2px;
        padding: 5px 44px;
        font-size: 20px;
        background-color: #fafafa;/*eb8313*/   /* 登陆头标颜色 ed9d22    外边环的颜色f2f2f2     border-bottom:c3c3c3*/
        border: 1px solid rgba(170, 169, 169, 0.9);
        border-radius: 7px;

    }

    .select{
        color:white;
        background-color: #eb8313;
    }

    .more_member{
        display: none;
        margin-top: 25px;
    }
    .addposition{
        display: inline-block;
        margin-left: 735px;
    }
    .team_name_error2{
        font-size: 14px;
        color: red;
        width: 480px;
        display: inline-block;
        text-align: right;
    }
    .team_error3{
        font-size: 16px;
        color: red;
        margin-top: 10px;
    }

/******登录按钮样式******/
.login_button{
    text-align: right;
    color:#323232;
}
.login_button div{
    margin: 20px 30px;

    height: 35px;
    display: inline-block;
    border-radius: 10px;
    border:5px solid #f2f2f2;
	color:white;
    background-color: #eb8313;
	padding: 7px 40px 0px;
}