.content_wrap{
	overflow: hidden;
	width: 100%;
	margin: 20px auto;
	min-height:400px; 
    height:auto !important; 
    height:400px; 
}
.content_wrap .left{
	border-right: 1px solid #ccc;
	min-height:390px; 
    height:auto !important; 
    height:390px;
}
.content_wrap .right{
	/*border: 1px solid green;*/
	overflow: hidden;
}