/*
    Document   : devReport
    Created on : 2013-3-27, 14:55:01
    Author     : liangzhongyuan
    Description:
        Purpose of the stylesheet follows.
*/


    /* 最新消息-开发者大会首页*/

	.dev_font{
		font-size: 12px;
	}

	.devForward p{
        padding: 20px 70px;
        font-size: 12px;
		line-height: 26px;
    }
    .di_sched{
        margin: 0 35px;
        /*padding: 20px 70px;*/
        height: 35px;
        background-color: rgba(247, 245, 245, 0.42);
    }
    .rule{
        width: 120px;
        height: 0px;
        border-top: 35px solid rgb(255, 173, 47);
        border-right: 24px solid transparent;
    }
    .rule span{
        position: relative;
        top: -30px;
        left: 25px;
        color: white;
        font-size: 18px;
    }
    .schedule {
        padding: 20px 70px;
        line-height: 40px;
        font-size: 12px;
    }
    .di_detail{
        margin-left: 50px;
    }
    .corporation{
        padding: 20px 70px;
        text-align: center;
        margin-top: 45px;
    }
    .devNews{
        padding: 0 70px;
        text-align: center;
    }
    .devNewsList li{
        display: inline-block;
        margin: 0 1px;
    }
    .imgNews{
        background: url(/images/news/newsList/meeting/dev_news.jpg) no-repeat;
        text-decoration: none;
        display: block;
        width: 185px;
        height: 155px;

    }
    .imgNews_word{
        position: relative;
        top: 160px;
        left: 0px;
		color: #333333;
    }
    .back_pos1{
        background-position: 0px 0px;
    }
    .back_pos2{
        background-position: -188px 0px;
    }
    .back_pos3{
        background-position: -375px 0px;
    }
    .back_pos4{
        background-position: -560px 0px;
    }
    .back_pos5{
        background-position: -745px 0px;
    }

    /* 最新消息开发者大会-新闻报道*/
    .devReport_news{
        padding: 20px 70px;
    }
    .devReport_news div{
        display: inline-block;
    }
    .devReport_word{
        width:700px;margin-left: 50px;
    }
    .devReport_title{
        font-size:14px;font-weight: bold;text-align:left;/*color: rgb(255, 173, 47);*/
		/*color: #E28900;*/
    }
    .devReport_content{
        font-size:12px;margin-top: 14px;
		height: 100px;
		line-height: 24px;

    }
    .horizon_line{
        overflow:hidden;height: 1px;width: 100%;background-color: #c2c4c8;
    }

    /* 最新消息开发者大会-发票*/
    .regeipt{
        margin: 0 auto;
        width: 744px;
        height:260px;
        background-image: url('/images/news/dev/receipt.jpg');
    }
    .regeipt li{
        padding: 7px 0;
		font-size: 12px;
    }
    .regeipt ul{
        padding-top: 20px;
        margin-left: 60px;
        font-size: 14px;
        font-weight: thin;
    }
    .regeipt_1 li{
        padding: 10px 0;
        font-size:12px;
    }