/*
    Document   : login
    Created on : Apr 10, 2013, 11:04:21 AM
    Author     : liang
    Description:
        Purpose of the stylesheet follows.
*/

    .login_body{
        width: 980px;
        margin: 0 auto;
        overflow: hidden;
    }
    .login_ti p{
        font-size: 27px;
        padding: 23px 20px;
    }
    .login_con{
        height: 380px;
        width: 100%;
        padding-bottom: 40px;
    }
    .login_left{
        width: 250px;
        height:100%;
        border-radius: 7px;
        display: inline-block;
        background-color: #e7e7e7;
    }
    .login_rig{
        width: 725px;
        height: 100%;
        margin-left: -3px;
        border-radius: 7px;
        display: inline-block;
        background-color: #fafafa;
    }

    .login_cos{
        padding: 20px 20px;
        font-size: 14px;
        color: #666666;
    }
    .login_cos span{
        font-size: 22px;
        display: block;
        color: #323232;
    }
    .row{
        margin: 0 auto;
        width: 400px;
        font-size: 14px;
    }
    .row input{
        width: 300px;
        height: 30px;
        border-radius: 7px;
		border:1px solid #C8C8C8;
        outline: medium;
        margin-left: 40px;
        overflow: hidden;
    }
    .remark{
        display:block;
        margin-left: 105px;
        padding-top: 10px;
        padding-bottom: 20px;
        color: #768db9;
    }
    .login_error{
        text-align: center;
        font-size: 14px;
        color:red;
    }

    .login_button{
        text-align: center;
        color:#323232;
    }
    .login_button div{
        display: inline-block;
        margin: 20px 30px;
        width: 130px;
        height: 35px;
        border-radius: 10px;
        border:5px solid #f2f2f2;

    }
    .button1{
        position: relative;
        top: -2px;
        left: -2px;
        padding: 5px 44px;
        font-size: 20px;
        background-color: #fafafa;/*eb8313*/   /* 登陆头标颜色 ed9d22    外边环的颜色f2f2f2     border-bottom:c3c3c3*/
        border: 1px solid rgba(170, 169, 169, 0.9);
        border-radius: 7px;

    }

    .select{
        color:white;
        background-color: #eb8313;
    }

/*
a.button {
      font: normal 12px sans-serif;
      text-decoration: none;
    }
.button {
      width:149px;
      height: 48px;
      background: url('/images/login_rigister/selected_button.jpg') no-repeat;

    }*/