/*
    Document   : main_new
    Created on : Mar 15, 2013, 10:16:05 AM
    Author     : liang
    Description:
        Purpose of the stylesheet follows.
*/

/*root {
    display: block;
}*/




#keywords{}


/*.search input{
    height: 37px;
    float: left;
    display: block; border: 0; width: 246px;
    padding: 5px 30px 3px 3px;
    background: url("") no-repeat top right;
    font: 23px bold "Myriad Pro", Myriad, Arial, Verdana, sans serif;
    color:#666666; font-style: italic
}*/

/*.search span.left-cap{display: block; float: left;
width: 18px; height: 37px;
background: url("search-bg-left.png") no-repeat top right}*/