
 .news_container,.plist_container{
	overflow: hidden;
	width: 998px;
	margin: 0 auto;
 }
 .news_container{
 	width: 1062px;
 }
 .plist_container{
 	padding-bottom: 90px;
 }
 .short_news,.short_news div{
        float: left;
    }
	.short_news{
		margin-top: 15px;overflow: hidden;
	}
	.news_split{
		background: url(/images/div_split.jpg);
	}
	.rec_one{
		
	}
	.rec_one img.main{
		width: 190px;
	}
	.rec_two{
		margin-left: 45px;
	}
	.rec_two img.main{
		width: 150px;
	}
	.rec_three{
		margin-left: 15px;
	}
	.rec_three img.main{
		width: 150px;
	}
	
	/*------------------Partner Style-------*/
	.pn_container{
	 	width: 980px;
		margin: 0 auto;
		overflow: hidden;
	 }
	.pn_business,.pn_dev,.pn_info{
		margin-top: 25px;
		text-align: right;
	}
	.pn_two_split{
		overflow:hidden;height: 176px;width: 0px;background-color: #ececec;margin-left: -4px;
	}
	.pn_business,.pn_dev{
		margin-right: 15px;
	}
	.pn_info{
		margin-left: 20px;
	}
	.pn_one_split{
		overflow:hidden;height: 0px;width: 1px;background-color: #c2c4c8;
	}
    .page li{
        float:left;
    }
	.news_pub{
		text-align: right;
		width: 170px;
		margin-top: 10px;
	}
	img.news_pub_more{
		margin-top: 20px;
	}
	.news_sub_title{
		font-weight: bold;
	}
	.news_sub_detail{
		font-size: 12px;
		color: gray;
		margin-top: 10px;
	}
	.news_up{
		text-align: left;
		margin-top: 10px;
		margin-left: 20px;
		width: 145px;
	}
	.news_up img{
		float: right;
	}
	img.news_up_more{
		margin-top:37px;
		margin-right: 5px;
	}
	.news_exp{
		text-align: left;
		margin-top: 10px;
		margin-left: 15px;
		width: 115px;
		text-align: right;

	}
	.news_exp .news_exp_desc{
		float: left;
	}
	img.news_exp_more{
		margin-top: 19px;
	}
	img.news_exp_pic{
		margin-top:13px;
		float: right;
	}

	/*============首页新闻摘要样式===================*/
	div.big_banner{
		margin: 0 auto;position:relative; overflow:hidden; height:360px;
	}
	div.big_banner .frm{
		position:absolute;left:50%;width:1920px;
	}
	div.big_banner .frm .content{
		position:absolute;left:-50%; width:1920px;
	}
	div.big_banner img{
		width: 100%;
	}
	
	.nlist{
		font-size: 12px;
		line-height: 22px;
		color: #303030;
		width: 980px;
		margin: 0 auto;
		overflow: hidden;
	}
	.nlist .pright,.nlist .pleft{
		display: inline-block;
		min-height:165px; 
	    height:auto !important; 
	    height:165px; 
		margin-top: 30px;
	    overflow: hidden;
		
	}
	.nlist .pright{
		width: 540px;
	}
	.nlist .pleft{
		width: 545px;
	}
	.nlist h1,.nlist h1 a,.nlist2 h1,.nlist2 h1 a{
		font-size: 20px;
		font-weight: bold;
		height: 35px;
		color: #178173;
	}
	.nlist p{
		margin-bottom: 20px;
	}
	.nlist img.lft{
		margin-right: 31px;
		margin-top: 15px;
	}
	.nlist img.rgt{
		margin-left: 41px;
		margin-top: 15px;
	}
	
	
	
	.nlist2{
		font-size: 12px;
		line-height: 22px;
		color: #303030;
		width: 980px;
		margin: 0 auto;
		margin-top: 25px;
		padding-bottom: 10px;
		overflow: hidden;
	}
	.nlist2 .pright{
		display: inline-block;
		min-height:165px; 
	    height:auto !important; 
	    height:165px; 
		width: 745px;
	    overflow: hidden;
	}
	.nlist2 img.left{
		margin-right: 35px;
	}
	.nlist2 .pright h1,.nlist2 .pright h1 a{
		font-size: 20px;
		height: 30px;
		font-weight: bold;
		color: #178173;
	}
	.nlist2 a.detail{
		color:gray;
	}
	
	
	.n_detail{
		font-size: 12px;
		line-height: 22px;
		color: #303030;
		width: 980px;
		margin: 0 auto;
		margin-top: 25px;
		padding-bottom: 10px;
		overflow: hidden;
	}
	.n_detail .info{
		width: 90%;
		overflow: hidden;
		margin: 0 auto;
	}
	.n_detail .info h1{
		font-size: 18px;
		font-weight: bold;
		color: #178173;
		height: 35px;
		text-align: center;
	}
	.n_detail .info p{
		text-indent: 2em;
	}
	.n_detail .info .detail_img{
		width: 90%;
		text-align: center;
		margin: 0 auto;
		padding: 25px;
	}
	
	
	
	.news_box{
		padding:20px 0px;float: left;
	}
	.news_subbox{
		width:530px;float: left;line-height: 25px;
	}
	p.news_title{
		font-size:18px;
		font-weight: bold;
		text-align:center;
	}
	p.news_outline{
		font-size:12px;margin-top: 14px; color: gray;
	}
	
	/*------------Partner-----------------*/
	.plist{
		font-size: 12px;
		line-height: 22px;
		color: #303030;
	}
	.plist .pright,.plist .pleft{
		display: inline-block;
		min-height:165px; 
	    height:auto !important; 
	    height:165px; 
	    overflow: hidden;
		margin-top: 57px;
	}
	.plist .read_more{
		text-align: right;
	}
	.plist .read_more a{
		color: #8991a1;
	}
	.plist .zky_info{
		width: 750px;
	}
	.plist .htc_info{
		width: 620px;
	}
	.plist .via_info{
		width: 580px;
	}
	.plist .s3_info{
		width: 625px;
	}
	.plist .zky_info p,.plist .htc_info p{
		text-indent: 2em;
		margin-bottom: 15px;
	}
	
	.plist img.zky{
		margin-right: 44px;
		margin-top: 20px;
	}
	.plist img.htc{
		margin-left: 66px;
		margin-top: 40px;
	}
	.plist img.via{
		margin-right: 116px;
	}
	.plist img.s3{
		margin-left: 35px;
		margin-top: 30px;
	}
	.split{
		overflow:hidden;height: 1px;width: 1000px;background-color: #e5e5e5;clear: both;
	}
	
	ul.plogo{
		overflow: hidden;
		width: 980px;
		margin: 0 auto;
	}
	ul.plogo li,ul.plogo li img{
		display: inline-block;
		width: 227px;
		height: 165px;
		overflow: hidden;
	}
	
	
	