/*
    Document   : page.css
    Created on : 2013-3-22, 10:58:07
    Author     : liangzhongyuan
    Description:
        Purpose of the stylesheet follows.
*/
DIV.green-black {
PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 15px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
ul.yiiPager
{
	font-size:11px;
	border:0;
	margin:0;
	padding:0;
	line-height:100%;
	display:inline;
}

ul.yiiPager li
{
	display:inline;
        padding: 0px 5px;
}

ul.yiiPager a:link,
ul.yiiPager a:visited
{
	/*border:solid 1px #9aafe5;*/
        border: none;
	font-weight:bold;
	/*color:#0e509e;*/
	padding:1px 6px;
	text-decoration:none;
}

ul.yiiPager .page a
{
	font-weight:normal;
}

ul.yiiPager a:hover
{
	border:solid 1px #FFAD2F;
}

ul.yiiPager .selected a
{
	background:#FFAD2F;
	color:#FFFFFF;
	font-weight:bold;
}

ul.yiiPager .hidden a
{
	/*border:solid 1px #DEDEDE;*/
        border: none;
	color:#888888;
}

/**
 * Hide first and last buttons by default.
 */
ul.yiiPager .first,
ul.yiiPager .last
{
	display:none;
}

