/*
    Document   : search
    Created on : 2013-5-3, 16:16:10
    Author     : liangzhongyuan
    Description:
        Purpose of the stylesheet follows.
*/

    .search_dform{
        width: 980px;
        margin: 25px auto 30px auto;
    }
    #key_words{
        width: 500px;
        height: 32px;
        border-radius: 5px;
        outline: none;
        border: 2px solid #DFDCDC;
        font-size: 14px;
    }
    .button1{
        position: relative;
        top: -2px;
        left: -2px;
        padding: 3px 42px;
        font-size: 20px;
        background-color: #fafafa;/*eb8313*/   /* 登陆头标颜色 ed9d22    外边环的颜色f2f2f2     border-bottom:c3c3c3*/
        border: 1px solid rgba(230, 221, 221, 0.9);
        border-radius: 7px;
    }
    .button_img {
        position: relative;
        top: 0px;
        left: 50px;
        padding: 13px 75px;
        font-size: 20px;
        background: url(/images/search_tmp/search.jpg) no-repeat;
    }
    .input_border{
        display: inline-block;
        margin: 0px 35px;
        width: 126px;
        height: 30px;
        border-radius: 10px;
        border: 5px solid #f2f2f2;
    }
    .result_null{
        display: block;
        font-size: 25px;
        margin: 20px 0px;
        color: #232222;
    }
    .search_remark{
        font-size: 14px;
        color:#999999;
        margin-top: 15px;
    }
    .detail{
        margin-left: 18px;
    }
    .point{
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background: #999;
        margin: 5px;
        text-decoration: none;
    }
    .news_title{
        font-size: 18px;
        margin: 10px 0;
        color: #535252;
    }
    .key_color{
        color:#178173;
    }
    .news_content{
        color:#999999;
        font-size: 14px;
    }
    .search_result{
        width: 980px;
        margin: 0 auto;
    }
    .news_date{
        display: block;
        text-align: right;
    }

