<?xml version="1.0" ?>
<plugin>
  <extension point="org.eclipse.help.toc">
    <toc file="_toc_GAIA Cplusplus Development.xml" primary="true"/>
    <toc file="_toc_GAIA Web Development.xml" primary="true"/>
    <toc file="_toc_Getting Started With GAIA.xml" primary="true"/>
    <toc file="toc.xml"/>
  </extension>
</plugin>
