img{border:none;}
	
/* image replacement */
.graphic, #prevBtn, #nextBtn{
    margin:0;
    padding:0;
    display:block;
    overflow:hidden;
    text-indent:-8000px;
}
/* // image replacement */
			

#es_container{	
	margin:0 auto;
	position:relative;
	text-align:left;
	width:900px;
	background:#fff;		
	margin-bottom:2em;
}	
	
/* Easy Slider */

#slider{}	
#slider ul, #slider li{
	margin:0;
	padding:0;
	list-style:none;
}
#slider li{ 
	/* 
		define width and height of list item (slide)
		entire slider area will adjust according to the parameters provided here
	*/ 
	width:980px;
	height:400px;
	overflow:hidden; 
}	
#prevBtn, #nextBtn{ 
	display:block;
	width:30px;
	height:77px;
	position:absolute;
	left:-30px;
	top:180px;
}	
#nextBtn{ 
	left:910px;
}														
#prevBtn a, #nextBtn a{  
	display:block;
	width:30px;
	height:77px;
	background:url(/js/easySlider/images/btn_prev.gif) no-repeat 0 0;	
}	
#nextBtn a{ 
	background:url(/js/easySlider/images/btn_next.gif) no-repeat 0 0;	
}												

/* // Easy Slider */